<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Employee Management Suite">
    <test name="Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AddEmployeeTest"/>
            <class  name="tests.LogoutTest"/>
        </classes>
    </test>
</suite>
